<!-- Make sure the "Add to watchlist" button works with AJAX instead of a page refresh -->


<div class="page-header">
  <h1>
    Watchlist items
    <%= link_to new_watchlist_item_url, :class => "btn btn-lg btn-success" do %>
      <i class="fa fa-plus"></i>
    <% end  %>
  </h1>
</div>

<div class="row">
  <div class='col-xs-12'>
    <h2>Movies you want to watch</h2>
    <table class="table" id="unwatched-items">
      <tr>
        <th>User</th>
        <th>Movie</th>
        <th></th>
        <th></th>
      </tr>
      <% @unwatched_items.each do |item| %>
        <%= render 'watchlist_item', item: item %>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Movies you've watched</h2>
    <table class="table" id="watched-items">
      <tr>
        <th>User</th>
        <th>Movie</th>
        <th></th>
        <th></th>
      </tr>
      <% @watched_items.each do |item| %>
        <%= render 'watchlist_item', item: item %>
      <% end %>
    </table>
  </div>
</div>
